* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: Arial, sans-serif;
}

/* ===== Header ===== */
.header {
    background-color: aquamarine;
    padding: 10px;
    text-align: center;
}

.menu {
    margin-top: 10px;
    background-color: rgb(0, 255, 242);
    font-family: Arial, Helvetica, sans-serif;
    font-display: #46b1ac;
    font-style: normal;


}

.menu-link {
    color: rgb(255, 255, 255);
    text-decoration: underline ;
    margin: 0 15px;
    font-weight:bold;
}

.menu-link.active {
    color: #b14678;
    border-bottom: 2px hsl(162, 96%, 20%);
}

/* ===== Sections ===== */
.section {
    padding: 30px  10px;
    text-align: center;
}

.light {
    background-color: #e0ffff;
}

.section h2 {
    margin- bottom: 30 px 20px;
    background-color: #e0fffe;
    font-style: italic;
}

/* ===== Cards ===== */
.cards {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    border-style: none;
}

.card {
    width: 260px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 10px 12px rgba(0, 0, 0, 0.123);
    padding: 15px;
    border-color: aquamarine;
    border-style: dashed;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.card p {
    margin-top: 10px;
    font-size: 14px;
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
}


/* ===== Contact ===== */
.contact {
    background-color: aquamarine ;
}

.address {
    margin-top: 10px;
    font-size: 10px;
}
.btn{
    background-color: #46b191;
    box-sizing: border-box;

}

/* ===== Footer ===== */
.footer {
    background-color: #e0ffe2;
    color: rgb(255, 255, );
    text-align: center;
    padding: 15px;
    font-size: 10px;
}